/.venv
/.env
/roadmap.md
__pycache__/
*.pyc
.streamlit/
# Ignore all files inside logs/
logs/*

# But keep the placeholder file
!logs/.gitkeep

data/sample_papers/*
!data/sample_papers/.gitkeep

data/test_vector_store/*
!data/test_vector_store/.gitkeep
data/test_sample_vector_store/*
!data/test_sample_vector_store/.gitkeep
/rec.mp4